:root {
  --secondary: #43a047;
  --tertiary: #ebfaeb;
  --borders: #f5f5f5;
  --mute: #9e9e9e;
}

body {
  background-color: var(--borders) !important;
}

body .container{
  max-width: 60em;
  padding: 1.5em;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em !important;
}

body a,
body a:hover {
  text-decoration: none;
  color: inherit;
}
