.product-item {
  padding: .5em;
}

.product-item .card {
    border: 1px solid var(--borders);
    cursor: pointer;
}

.product-item .card img {
  height: 10em;
  width: 100%;
  object-fit: contain;
  padding: 1em;
}

.product-item .card .card-info {
  padding: 0em 1.5em 0.8em 1.5em;
  text-align: center
}

.product-item .card .card-info > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-item .card .card-text {
    font-weight: 400;
}

.product-item .card .product-desc {
    font-size: .9rem;
    color: var(--secondary);
}

/* ---- MEDIA QUEIRES ---- */
@media only screen and (max-width: 539px)  {
  .product-item .card .card-info {
    padding: 0em 0em 0.8em 0em;
  }

  .products-container .row > div {
    width: 100%;
  }
}
